/* 

-01 -- TYPOGRAPHY SYSTEM : 
FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

-Line Heights: 
default :1
small:1.05
medium:
paragraph default:

- Font weight :400,500,600,700

-letter-spacing: 
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

-02 -- COLORS
Primary:#4263eb

Tint:
#d0ebff


Shades:
#3b5bdb
#364fc7
Accents:
Greys: 
#444444
#555555


-03 -- SHADOWS


-04 -- BORDER-RADIUS 

-05 -- WHITESPACE
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Noto Sans", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}
table {
  width: 100%;
  margin-top: 5rem;
  font-size: 1.8rem;
  border-collapse: collapse;
}
tbody {
  display: table-row-group;
  vertical-align: middle;
}

tr {
  display: table-row;
  vertical-align: top;
  border-color: inherit;
}

td,
th {
  /* border:1px solid black; */
  text-align: left;
  padding: 16px 24px;
}
tbody tr td {
  line-height: 1.2;
  border-bottom: 1px solid #333;
  padding: 1.2rem;
}
.grid {
  display: grid;
  row-gap: 9.6rem;
  column-gap: 6.4rem;
}
.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}
.margin-top-med {
  margin-top: 9.6rem;
}
.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}
.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
}
.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
  color: #4263eb;
}
.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
  color: #333;
}
.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
  color: #4263eb;
}
.subheading {
  font-size: 1.6rem;
  font-weight: 700;
  color: #1864ab;
  display: block;
  text-transform: uppercase;
  margin-bottom: 1.6rem;

  letter-spacing: 0.5px;
  text-align: center;
}
.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  padding: 1.6rem 3.2rem;
  font-weight: 600;
  border: none;
  font-family: inherit;
  cursor: pointer;
  font-size: 2rem;
  text-decoration: none;
  border-radius: 9px;
  transition: all 0.3s;
}
.btn--full:link,
.btn--full:visited {
  background-color: #4263eb;
  color: #fff;
}
.btn--full:hover,
.btn--full:active {
  background-color: #364fc7;
  color: #fff;
}
