/* HEADER */
.header {
  display: flex;

  justify-content: space-between;
  align-items: center;
  height: 9.6rem;
  padding: 0 4.8rem;
  border-bottom: 1px solid #eee;
}

.logo {
  height: 6.4rem;
}

/* NAVIGATION */
.main-nav-list {
  display: flex;
  gap: 6.4rem;
  align-items: center;
  list-style: none;
}

.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  color: #444444;
  font-weight: 500;
  font-size: 1.8rem;
}
.main-nav-link:active,
.main-nav-link:hover {
  text-decoration: none;
}
.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  background-color: #3b5bdb;
  color: #fff;
}
.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #364fc7;
  transition: all 0.3s;
}

/* HERO */
.section-hero {
  padding: 4.8rem 0 9.6rem 0;
  border-bottom: 1px solid #eee;
}
.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}
.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 100%;
  margin: 4.2rem;
  margin-right: 1.6rem;
}

/* FEATURED */
.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}
.heading-featured-in {
  font-size: 1.4rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 600;
  color: #444;
  margin-bottom: 2.4rem;
}
.text-featured-in {
  font-size: 1.2rem;
  text-align: center;
  color: #444;
}
.logos {
  margin: 2.4rem;
display: flex;
justify-content: center;
align-items: center;
}
/* TRAINING BUSINESS  */
.section-training{
  padding: 9.6rem 0;
  background-color: #d0ebff;
}


/* HOW  */
.section-how{
  padding: 4.8rem 0 3.2rem 0;
}
.how-text{
  display: inline-block;
  margin: 1.6rem 0;
  font-size: 1.8rem;
}
.how-img {
  width:50rem;
  height: 30rem;
  border-radius: 8px 10px 12px 14px;
}

.how-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.how-img-box::before,
.how-img-box::after {
  content: "";
  display: block;
  border-radius: 8px 10px 12px 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.how-img-box::before {
  width: 55rem;
  padding-bottom: 70%;
  background-color: #d0ebff;
}
.how-img-box::after {
  width: 53rem;
  padding-bottom: 65%;
  background-color: #bac8ff;
}

/* footer */
.footer{
  margin-top: 9.6rem;
  padding: 9.6rem 0 9.6rem 0;
  border-top: 1px solid #eee;
}
.footer-column{
  list-style: none;
  font-size:1.6rem;
  line-height: 1.6;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  color: #555;
}
.footer-link:hover,
.footer-link:active {
  text-decoration: none;
  color: #333;
  transition: all 0.3s;
}